body {
    background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.2)) ,url(img/1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.header {
    color: white;
    text-align: center;
    font-size: 50px;
}